body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0% 10%;
    box-sizing: border-box;
    color: #2A2B2A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero {
    height: 300px;
    overflow-y: hidden;
    border-radius: 16px;
    background-image: url(../images/store.jpg);
    background-size: cover;
    background-position: center;
}

.hero-img {
    width: 100%;
    object-fit: cover;
}

.search-bar {
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 12px;
    font-size: 1em;
    background-color: #f6f6f6;
    width: 200px;
}

.icon {
    color: #2A2B2A;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover {
    color: #267b3a;
    transition: color 0.3s;
}

.logo {
    width: 60px;
}

.categories {
    display: flex;
    gap: 2%;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
   width: auto;
    -ms-overflow-style: none;
    /* Hide scrollbar in Internet Explorer */
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
    scroll-behavior: smooth;
    padding: 5%;
    background-color: #f6f6f6;
    border-radius: 16px;
}

h2 {
    margin: 0%;
    padding-bottom: 2%;
    color: #45a049;
    font-size: 1.6em;
}

.category-section {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.categories-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.scroll-btn {
    background-color: white;
    border: none;
    font-size: 24px;
    color: #2A2B2A;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    transition: opacity 0.3s;
    border-radius: 200px;
    margin: 2%;
}

.scroll-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, border 0.3s;
    scale: 1.05;
}

.category-card {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, border 0.3s;
    text-decoration: none;
   padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 10px;
    display: none;
}

.category-card p {
    font-weight: bold;
    color: #45a049;
    font-size: 1em;
    margin: 0px;
}

.category-card.active {
    border: 4px solid #45a049;

}

.category-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-container {
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.products {
    display: grid;
   
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-card {
    background-color: #f6f6f6;
    border-radius: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    max-width: 400px;
    margin: 5%;
}


.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-card img {
    width: 100%;
    border-radius: 16px 16px 0% 0%;
    height: fit-content;
    object-fit: cover;
    padding-bottom: 4%;
    aspect-ratio: 1;
    max-height: 500px;
}

.product-card h4 {
    font-size: 1.2em;
    color: #2f8f46;
    margin-bottom: 10px;
}

.product-card a {
    text-decoration: none;
    color: #2f8f46;
}

.product-card p {
    font-size: 0.9em;
    color: #555;
    margin: 0 0 12px 0;

}
.search{
    margin: 0%;
}
/* Product Page */
.h3 {
    margin: 0%;
    font-size: 1.8em;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.product h1 {
    padding-bottom: 2%;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 700px;
    max-width: 700px;
    aspect-ratio: 1;
    /* Houdt de hoogte en breedte in een 1:1 verhouding */
}

.product-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    aspect-ratio: 1;
    z-index: 0;
}




.product-details {
    gap: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details h1 {
    font-size: 2em;

    margin: 0%;
    padding-top: 5%;
}

.product-price {
    margin: 0%;
    font-weight: bold;
}

.product-description {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
    margin: 0%;
    padding: 5% 0%;

}

.final-price {
    font-size: 1.5em;
    color: #333;
    margin: 0%;
    margin-bottom: 2em;
    font-weight: bold;
}

.product-options div {
    display: flex;
    padding-bottom: 5%;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 0.8em;
    color: #333;
    padding-bottom: 2%;
    text-align: left;
    width: 100%;
}




.btn:hover {
    background-color: #267b3a;
}

/*reviews*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    /* Reverse the order of the stars */
    justify-content: flex-end;

    /* Align the stars to the right */

}


.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 1.6em;
    width: auto;
    padding: 0%;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked~label {
    color: #45a049;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #45a049;
}

/* related products */
.related-products {

    display: flex;

    gap: 5%;
}

.related-products .products {
    width: 100%;
}

.review {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 16px;
    margin-bottom: 2%;
    width: auto;
    justify-content: space-between;

}

.review i {
    font-size: 1.5em;
    color: #45a049;
    margin-bottom: 20px;
}

.review div {
    width: auto;
    padding-right: 2%;
    padding-left: 2%;
}

.create-review {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 16px;
    width: auto;
    padding: 2%;
}
div.post-review-form div{
    padding-bottom: 1%;
}

#reviewText {
    background-color: #fff;
}

/* Profile & Signup Form */
.signup-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.profile-info p {
    font-size: 1em;
    color: #333;
    margin-bottom: 0%;

}

.profile-info p span {
    font-weight: bold;
}

.signup-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

div.form-group {
    padding-bottom: 1%;
}

.form-group label {
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
}

.form-group div {
    padding-bottom: 5%;
}


.back {
    display: flex;
    gap: 2%;
}

.form-group input,
textarea,
.form-group select {
    width: 100%;
    /* Make the input, textarea, and select take up 100% of the container */
    padding: 10px;
    /* Padding inside the elements */
    max-width: 100%;
    /* Ensure they don't exceed the container's width */
    margin-bottom: 10px;
    /* Add some space below each element */
    margin-top: 10px;
    border: 0px solid #ddd;
    /* Define border color */
    border-radius: 12px;
    /* Rounded corners */
    background-color: #f6f6f6;
    /* Light background color */

    box-sizing: border-box;
    /* Include padding and border in the element's total width */
}


.alert-danger {
    color: red;
    font-size: 1em;
    text-align: left;
    width: 100%;
    font-weight: bold;
    padding-top: 5px;
    margin: 0%;
    padding-bottom: 2%;
}

.alert-success {
    color: #45a049;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 2%;
}

.padding {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    width: auto;
   
    color: #fff;
    background-color: #45a049;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}


.btn:hover {
    background-color: #267b3a;
}

.signup-btn {
    background-color: #45a049;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #45a049;
}

section {
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div {
    width: 100%;
}

/* Admin Page */
.admin-section {
    background-color: #f6f6f6;
    border-radius: 16px;
    padding: 5%;
    margin-bottom: 5%;
}

.admin-options input[type="text"],
.admin-options select,
.admin-options input[type="number"],
.admin-options textarea {
    background-color: #ffffff;
}



.image-upload-label input[type="file"] {
    display: none;
}

.add-product-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;


    height: 100%;
}

.image-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Laat het de breedte van de oudercontainer gebruiken */
    aspect-ratio: 1;
    /* Houdt de hoogte en breedte in een 1:1 verhouding */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding: 0%;
    background-color: #f6f6f6;
    /* Achtergrondkleur */
}

.image-upload-label img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.upload-icon {
    position: absolute;
    font-size: 5em;
    color: #45a049;
    /* Zichtbare kleur tegen donkere achtergrond */
    pointer-events: none;
    z-index: 1;
}
.manage-product{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
}

.manage-card {
    background-color: #f6f6f6;
    border-radius: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    max-width: 500px;
    border-radius: 16px;
    cursor: pointer;
}

.manage-card img {
    width: auto;
    aspect-ratio: 1;
    border-radius: 16px 16px 0% 0%;
}

.manage-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
}

.manage-card p {
    padding: 0% 10%;
}

.manage-card .btn {
    font-size: 1.2em;
    color: #f6f6f6;
    margin: 0%;
}

.delete-form {

    position: relative;
    height: 0px;
    top: 5%;
    right: -40%;
}

.delete-btn {
    background: transparent;
    border: none;
    color: red;
    font-size: 1.8em;
    cursor: pointer;
    transition: color 0.3s;
}

.delete-btn:hover {
    color: darkred;
    scale: 1.1;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

}

.delete-btn i {
    pointer-events: none;
    /* Ensure icon doesn't block button functionality */
}

.manage-products {
    padding-top: 5%;
}

.manage-category {
    padding: 0%;
}

.back-icon {
    font-size: 1.5em;
    color: #2A2B2A;
    cursor: pointer;
    transition: color 0.3s;
}

h1 {
    margin: 0%;
    font-size: 2em;
    color: #45a049;
}

.hero-section h1 {
    padding-bottom: 2%;
}

/* Optiegroep styling */
.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    max-width: 100%;
    justify-content: center;

}

/* Checkbox verbergen */
.option-button input[type="checkbox"] {
    display: none;
}

/* Knopstijl voor opties */
.option-button input[type="checkbox"]+span {
    display: flex;
    margin-bottom: 0%;
    border-radius: 12px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 2% 4%;
    background-color: #f6f6f6;
    /* Standaard wit */
    transition: all 0.3s ease;
    width: auto;
    border: 4px solid transparent;
    /* Voeg een standaard transparante rand toe */
}

/* Actieve knop-styling (gehele knop krijgt border wanneer geselecteerd) */
.option-button input[type="checkbox"]:checked+span {
    color: #333;
    background-color: #ffffff;

    border-color: #8bb194;
    /* Groene rand bij selectie */
}

/* Hover-effect */
.option-button:hover {
    transform: translateY(-5px);
}
button{
    font-size: 1em;
}
/*winkelmandje*/
.basket-container {
    padding: 5%;
    background-color: #f6f6f6;
    border-radius: 16px;
    margin: 2% auto;
}

.basket-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    gap: 5%;
    max-height: 200px;
    background-color: #f6f6f6;
    border-radius: 16px;
    margin-bottom: 2%;
}

.basket-item-profile {
    background-color: #f6f6f6;
    margin-top: 2%;
   height: 90px;
}

img.product-image-basket {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 16px;
    aspect-ratio: 1;
}


.basket-item-info {
    flex-grow: 1;
}

.product-name {
    font-size: 1.2em;
    color: #2f8f46;
    margin: 0;
}

.basket-item-actions {
    display: flex;
    gap: 10px;
}

.basket-summary {
    text-align: right;
    margin-top: 20px;
}

.basket-summary .btn {
    max-width: 200px;
    display: inline-block;
}

div.basket-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
}

div.basket-item-actions {
    display: flex;
    justify-content: right;
}




.redirect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    text-align: center;
}

button.remove {
    background-color: none;
    color: red;
    border: none;
    background-color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    padding: 0%;
    align-items: center;
}

.basket-header {
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
    text-align: center;
    align-items: center;
}

.basket-header h2 {
    padding: 0%;

    font-size: 1.6em;
    color: #45a049;
}

.basket-header p {
    padding: 0%;
    font-size: 1em;
    color: red;
    margin: 0%;
    font-weight: bold;
    padding-left: 8px;
}

.basket-alert {
    padding: 2%;
    background-color: #f6f6f6;
    border-radius: 16px;
    margin: 2% auto;
    text-align: center;
}

.basket-count {
    background-color: #333;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 16px;
}
.basket-items{
    padding: 0%;
}
.currency {
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.display-currency {
    background-color: #333;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
    padding: 6px 4px;
    border-radius: 16px;
}


/* Payment success*/

.success-container {
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
    justify-content: center;
    background-color: #f6f6f6;
    border-radius: 16px;
    text-align: center;

}


.success-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 2%;
    border-radius: 16px;
}

.success-title {
    font-size: 2em;
    color: #45a049;
    margin-bottom: 10px;
}

.success-message {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.success-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: auto;
}

.success-actions .btn {
    padding: 1%;
    width: auto;
}

section.success {
    height: 100vh;
    padding: 0%;

}

/* Responsive */
@media (min-width: 800px) {
    .product-container {
        flex-direction: row;
        align-items: flex-start;

    }

    .product-image {
        padding-bottom: 0%;
        width: 60%;
    }

    .product-details {
        width: 40%;
    }

    .category-card {
        padding: 16px;

    }
    .category-card img {
        display: block;
    }

    .add-product-container {
        flex-direction: row;
        gap: 5%;
    }

    .admin-options {
        display: flex;
        gap: 10%;
    }

    .admin-options div {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .product-details h1 {

        padding-top: 0%;
    }

}

/* Add this at the end of your style.css file */

/* Media query for screen widths from 0 to 1050 pixels */
@media (max-width: 1050px) {

    .product-container,
    .categories-wrapper,
    .basket-container,
    .related-products .products {
        overflow-x: hidden;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        width: 100%;
        max-width: 100%;
    }

    .product-details {
        width: 100%;
    }

    .categories {
        align-items: center;
    }

    .category-card {
        width: 100%;
    }

    .basket-container {
        padding: 5%;
    }

    .related-products {
        flex-direction: column;
        align-items: center;
    }

    .related-products .products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}